* {
  padding: 0;
  margin: 0;
}
#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(12, 13, 13, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.besar {
  text-transform: uppercase;
}
.kuning {
  color: rgba(178, 150, 0, 1);
}

.pink {
  color: #ff4081;
}

h1{
  font-size: 3em;
  padding: 0em;
  margin:0em;
}

.marquee {
  padding: 0.25em 1em;
  font-size: 1.75em;
  border-top: 2px rgba(178, 150, 0, 1) solid;
  text-transform: uppercase;
  font-weight: 700;
}

.hijau {
    color:rgba(40, 189, 102, 1)
}

.biru {
    color: rgba(0, 159, 163, 1)
}

